<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>BaDoWSeR</title>
  </head>
  <body>
    <div id="content">
      <h1>Najnowsze wpisy</h1>
      {{#posts}}
      <blockquote>
        <p>{{body}}</p>
        <small>{{date}}</small>
      </blockquote>
      {{/posts}}
    </div>
  </body>
</html>
